.pricing {
  max-width: 1340px;
  // border: 1px solid;
  margin: 0 auto;
  margin-top: 170px;
  h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
  }
  .pricing-card {
    max-width: 1340px;
    // border: 1px solid;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    .card {
      width: 426px;
      // border: 1px solid;
      .img {
        margin-top: 30px;
      }
      .tuition {
        margin-top: 15px;
      }
      h4 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 48px;
        margin-top: 40px;
      }
      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #8f95a5;
      }
      .pricing-btn {
        margin-top: 59px;
      }
      .tuition-btn {
        margin-top: 59px;
      }
      button {
        width: 240px;
        height: 45px;
        border-radius: 5px;
        margin-top: 29px;
        border: none;
        background-color: #eeeeee;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          h5 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 45px;
            color: #263238;
            margin-right: 5px;
          }
          b {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #546269;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
